/chat.iml
/.idea
/server/server.iml
/user/user.iml
/user/target/
/server/target/
/webuser/target/
/webuser/webuser.iml
/serverLog.log
/userLog.log
/server/serverLog.log
/restchat/.idea
/restchat/target
/restchat/restchat.iml
/server/test.txt