/1-3tasks/chat.iml
/1-3tasks/.idea
/1-3tasks/server/server.iml
/1-3tasks/user/user.iml
/1-3tasks/user/target/
/1-3tasks/server/target/
/1-3tasks/webuser/target/
/1-3tasks/webuser/webuser.iml
/1-3tasks/serverLog.log
/1-3tasks/userLog.log
/1-3tasks/server/serverLog.log
/1-3tasks/server/test.txt
/4-5tasks/restchat/.idea
/4-5tasks/restchat/target/
/4-5tasks/restchat/restchat.iml
/4-5tasks/restchat/userLog.log